<div class="item-list">
  <div ng-repeat="item in $ctrl.items" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ item.title }}</h3>
    </div>
    <div class="panel-body">
      <div class="details">
        <span class="label label-default">{{ item.source }}</span>
        <span class="label label-default">{{ item.typeConditor }}</span>
        <span class="label label-default">{{ item.publicationDate }}</span>
      </div>
      {{ item.abstract | limitTo:320 }} ...
      <div class="author">Author: {{ item.author }}</div>
    </div>
  </div>
</div>