<div class="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Filter</span></h3>
    </div>
    <div class="panel-body">
      <form name="filterForm">
        <fieldset class="checkbox-group" ng-class="{ active: $ctrl.isSourceFormActive }">
          <legend>Source</legend>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.filterOptions.source.hal" ng-change="$ctrl.onChangeSourceForm()" value="hal">hal</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.filterOptions.source.pubmed" ng-change="$ctrl.onChangeSourceForm()" value="pubmed">pubmed</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.filterOptions.source.sudoc" ng-change="$ctrl.onChangeSourceForm()" value="sudoc">sudoc</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.filterOptions.source.wos" ng-change="$ctrl.onChangeSourceForm()" value="wos">wos</label>
          </div>
        </fieldset>
        <fieldset ng-class="{ active: $ctrl.isTypeConditorFormActive }">
          <legend>Type</legend>
          <select class="form-control" ng-model="$ctrl.filterOptions.typeConditor" ng-change="$ctrl.onChangeTypeConditorForm()">
            <option ng-repeat="type in $ctrl.typeConditor">{{ type }}</option>
          </select>
        </fieldset>
        <!-- <fieldset>
          <legend>Similarity score</legend>
          <strong>&ge; {{ $ctrl.filterOptions.score }}</strong>
          <input type="range" min="80" max="100" ng-model="$ctrl.filterOptions.score" class="slider">
        </fieldset> -->
        <button type="submit" ng-click="$ctrl.apply()" class="btn btn-primary pull-right">Apply</button>
      </form>
    </div>
  </div>
</div>