<div class="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Filter</span></h3>
    </div>
    <div class="panel-body">
      <form name="filterForm">
        <fieldset class="checkbox-group">
          <legend>Source</legend>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.filterOptions.source.hal" value="hal">hal</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.filterOptions.source.pubmed" value="pubmed">pubmed</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.filterOptions.source.prodinra" value="prodinra">prodinra</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.filterOptions.source.sudoc" value="sudoc">sudoc</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Type</legend>
          <select class="form-control" ng-model="$ctrl.filterOptions.typeConditor">
            <option ng-repeat="type in $ctrl.typeConditor">{{ type }}</option>
          </select>
        </fieldset>
        <!-- <fieldset>
          <legend>Similarity score</legend>
          <strong>&ge; {{ $ctrl.filterOptions.score }}</strong>
          <input type="range" min="80" max="100" ng-model="$ctrl.filterOptions.score" class="slider">
        </fieldset> -->
        <button type="submit" ng-click="$ctrl.apply()" class="btn btn-default">Apply</button>
      </form>
    </div>
  </div>
</div>