<div class="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Filter</span></h3>
    </div>
    <div class="panel-body">
      <form name="filterForm">
        <fieldset class="checkbox-group" ng-class="{ active: $ctrl.isSourceFormActive }">
          <legend>Source</legend>
          <div class="checkbox" ng-repeat="source in $ctrl.sources | orderBy:'+'">
            <label>
              <input type="checkbox" ng-model="$ctrl.filterOptions.source[source.key]" ng-change="$ctrl.onChangeSourceForm()" value="{{ source.key }}">
              {{ source.key }}
              <span class="badge">{{ source.doc_count | number }}</span>
            </label>
          </div>
        </fieldset>
        <fieldset ng-class="{ active: $ctrl.isTypeConditorFormActive }">
          <legend>Type</legend>
          <div class="form-group">
            <ui-select ng-model="$ctrl.filterOptions.typeConditor" search-enabled="false" ng-change="$ctrl.onChangeTypeConditorForm()">
              <ui-select-match>{{ $select.selected.key }}</ui-select-match>
              <ui-select-choices repeat="type.key as type in $ctrl.typeConditor | orderBy:'+'">
                {{ type.key }}
                <span class="badge">{{ type.doc_count | number }}</span>
              </ui-select-choices>
            </ui-select>
          </div>
        </fieldset>
        <button type="submit" ng-click="$ctrl.apply()" class="btn btn-primary pull-right">Apply</button>
      </form>
    </div>
  </div>
</div>