navbar {
  .corneille {
    display: inline-block;
    height: 36px;
  }

  .menu {
    margin: 0 10px;
  }

  nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .navbar-header {
    flex-grow: 1;
  }

  .navbar-default .navbar-brand {
    color: #444;
  }

  .navbar-brand {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    padding: 0;
  }

  .navbar-nav > li > a {
    padding: 10px;
  }

  .glyphicon {
    font-size: 1.4em;
    cursor: pointer;
  }

  .dropdown-container {
    left: auto;
    right: 0;
  }

  .dropdown-notifications .dropdown-toolbar {
    border-bottom: none;
  }

  .dropdown-toolbar {
    border-radius: 4px;
  }

  .list-group-item, .list-group-item:first-child, .list-group-item:last-child {
    margin: 5px;
  }
}