navbar {
  .corneille {
    display: inline-block;
    height: 36px;
  }

  nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .navbar-default .navbar-brand {
    color: #444;
    flex-grow: 1;
  }

  .navbar-brand {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    padding: 0;
  }

  .navbar-nav > li > a {
    padding: 10px;
    // margin: 0 10px;
  }

  .glyphicon {
    font-size: 1.4em;
  }
}