<div class="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Filter</span></h3>
    </div>
    <div class="panel-body">
      <form name="filterForm">
        <fieldset class="checkbox-group">
          <legend>Source</legend>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.source.hal" value="hal">hal</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.source.pubmed" value="pubmed">pubmed</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.source.prodinra" value="prodinra">prodinra</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" ng-model="$ctrl.source.sudoc" value="sudoc">sudoc</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Similarity score</legend>
          <strong>{{ $ctrl.score }}</strong>
          <input type="range" min="80" max="100" ng-model="$ctrl.score" ng-model="$ctrl.score" class="slider">
        </fieldset>
        <button type="submit" ng-click="apply()" class="btn btn-default">Apply</button>
      </form>
    </div>
  </div>
</div>