<div class="modal-header">
  <div class="row equal">
    <div class="col-md-{{ $ctrl.sizeColumnHeaderRecord }} origin-record">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title">{{ $ctrl.record.title.default }}</h5>
        </div>
        <div class="panel-body">
          <div class="details">
            <span class="label label-primary">{{ $ctrl.record.source }}</span>
            <span class="label label-primary">{{ $ctrl.record.typeConditor }}</span>
            <span class="label label-primary">{{ $ctrl.record.publicationDate }}</span>
          </div>
          <div class="authors">{{ $ctrl.record.first3AuthorNames }}</div>
          <div class="idConditor pull-right">{{ $ctrl.record.idConditor }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-{{ $ctrl.sizeColumnHeaderNested }} near-duplicate-records">
      <div ng-if="$ctrl.nearDuplicateRecords.length > 2" class="shadow"></div>
      <div drag-scroll="true" axis="x" class="row">
        <div ng-repeat="nearDuplicateRecord in $ctrl.nearDuplicateRecords" class="near-duplicate-record col-md-{{ $ctrl.sizeColumnHeaderNearDuplicateRecords }}">
          <div class="panel" ng-init="hover = false" ng-mouseenter="hover = !nearDuplicateRecord.isSelected" ng-mouseleave="hover = false"
            ng-click="$ctrl.selectNearDuplicateRecord(nearDuplicateRecord); hover = false" ng-class="{'panel-primary': nearDuplicateRecord.isSelected, 'panel-info': hover, 'panel-default': !nearDuplicateRecord.isSelected}">
            <div class="panel-heading">
              <h5 class="panel-title">{{ nearDuplicateRecord.title.default }}</h5> 
            </div>
            <div class="panel-body">
              <div class="details">
                <span class="label" ng-class="{'label-primary': nearDuplicateRecord.isSelected, 'label-info': hover, 'label-default': !nearDuplicateRecord.isSelected}">{{ nearDuplicateRecord.source }}</span>
                <span class="label" ng-class="{'label-primary': nearDuplicateRecord.isSelected, 'label-info': hover, 'label-default': !nearDuplicateRecord.isSelected}">{{ nearDuplicateRecord.typeConditor }}</span>
                <span class="label" ng-class="{'label-primary': nearDuplicateRecord.isSelected, 'label-info': hover, 'label-default': !nearDuplicateRecord.isSelected}">{{ nearDuplicateRecord.publicationDate }}</span>
              </div>
              <div class="authors">{{ nearDuplicateRecord.first3AuthorNames }}</div>
              <div ng-if="nearDuplicateRecord.similarityRate" class="label label-default">similaire à {{ nearDuplicateRecord.similarityRate | percentage }}</div>
              <div
                class="label"
                ng-class="{'label-danger': !nearDuplicateRecord.isDuplicateByUser, 'label-success': nearDuplicateRecord.isDuplicateByUser}"
              >{{ nearDuplicateRecord.isDuplicateByUser === true ? 'doublon' : nearDuplicateRecord.isDuplicateByUser === false ? 'non doublon' : null }}</div>
              <div class="idConditor pull-right">{{ nearDuplicateRecord.idConditor }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th style="width:10%"></th>
          <th style="width:45%">{{ $ctrl.record.idConditor }}</th>
          <th style="width:45%">{{ $ctrl.nearDuplicateRecordSelected.idConditor }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, infos) in $ctrl.recordsComparison" ng-class="{warning: !infos[0]}">
          <td>{{ key }}</td>
          <td>
            <span ng-repeat="info in infos[1]" ng-class="{added: info.added, removed: info.removed}">{{ info.value }}</span>
          </td>
          <td>
            <span ng-repeat="info in infos[2]" ng-class="{added: info.added, removed: info.removed}">{{ info.value }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="validation-action">
    <div class="btn-group">
      <label 
        class="btn btn-success" 
        ng-model="$ctrl.nearDuplicateRecordSelected.isDuplicateByUser" 
        uib-btn-radio="true" 
        uncheckable="false"
        ng-change="$ctrl.checkNearDuplicateRecordsToValidate()"
      >
        Doublon
        <span ng-if="$ctrl.nearDuplicateRecordSelected.isDuplicateByUser === true" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </label>
      <label
        class="btn btn-danger"
        ng-model="$ctrl.nearDuplicateRecordSelected.isDuplicateByUser"
        uib-btn-radio="false"
        uncheckable="false"
        ng-change="$ctrl.checkNearDuplicateRecordsToValidate()"
      >
        Non doublon
        <span ng-if="$ctrl.nearDuplicateRecordSelected.isDuplicateByUser === false" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="$ctrl.cancel()">Annuler</button>
  <button class="btn btn-success" ng-class="{ disabled: !$ctrl.hasNearDuplicateRecordsToValidate }" ng-click="$ctrl.save()">Enregistrer</button>
</div>