<div class="record-modal modal-header">
  <div class="row">
    <div class="col-md-{{ $ctrl.sizeColumnHeader }}">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title">{{ $ctrl.record.title }}</h5>
        </div>
        <div class="panel-body">
          <div class="details">
            <span class="label label-default">{{ $ctrl.record.source }}</span>
            <span class="label label-default">{{ $ctrl.record.typeConditor }}</span>
            <span class="label label-default">{{ $ctrl.record.publicationDate }}</span>
          </div>
          <div class="author">{{ $ctrl.record.author }}</div>
          <div class="idConditor pull-right">{{ $ctrl.record.idConditor }}</div>
        </div>
      </div>
    </div>
    <div ng-repeat="nearDuplicateRecord in $ctrl.nearDuplicateRecords | limitTo: 6" class="col-md-{{ $ctrl.sizeColumnHeader }}">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h5 class="panel-title">{{ nearDuplicateRecord.title }}</h5>
        </div>
        <div class="panel-body">
          <div class="details">
            <span class="label label-default">{{ nearDuplicateRecord.source }}</span>
            <span class="label label-default">{{ nearDuplicateRecord.typeConditor }}</span>
            <span class="label label-default">{{ nearDuplicateRecord.publicationDate }}</span>
          </div>
          <div class="author">{{ nearDuplicateRecord.author }}</div>
          <div class="idConditor pull-right">{{ nearDuplicateRecord.idConditor }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="panel panel-default">
    <table class="table table-striped">
      <tr ng-repeat="(key, infos) in $ctrl.recordsComparison" ng-class="{warning: !infos[0]}">
        <td style="width:10%">{{ key }}</td>
        <td style="width:45%">
          <span ng-repeat="info in infos[1]" ng-class="{added: info.added, removed: info.removed}" >{{ info.value }}</span> 
        </td>
        <td style="width:45%">
          <span ng-repeat="info in infos[2]" ng-class="{added: info.added, removed: info.removed}" >{{ info.value }}</span> 
        </td>
      </tr>
    </table>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="$ctrl.ok()">OK</button>
</div>