record-modal {
  .modal-header > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .modal-header > .row > .col-md-3 {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .modal-header .panel {
    cursor: pointer;
    white-space: normal;
  }
  
  .panel-title {
    font-size: 1.3rem;
  }
  
  .modal-body > .panel {
    max-height: 500px;
    overflow-y: auto;
  }

  .removed {
    background-color: rgba($color: red, $alpha: 0.2);
  }
  
  .added {
    background-color: rgba($color: green, $alpha: 0.2);
  }

  .validation-action {
    text-align: right;
  }

  .validation-action > .btn-group {
    width: 41%;
    margin: 0 2%;
  }

  .validation-action > .btn-group > label {
    width: 50%;
  }

  .modal-header, .modal-footer {
    background-color: #f5f5f5;
  }
}

@media (min-width: 992px) {
  .modal-xl {
    width: 90%; 
  } 
}