<div class="modal-header">
  <h3 class="modal-title">Paramètres</h3>
</div>
<div class="modal-body">
  <form name="jwt">
    <div class="form-group">
      <label for="tokenJwt">Jeton JWT</label>
      <textarea my-enter-keypress="$ctrl.save()" class="form-control" rows="6" id="tokenJwt" ng-model="$ctrl.tokenJwt" placeholder="Put your token JWT here"></textarea>
    </div>
  </form>
  <div class="alert" 
    ng-if="$ctrl.msgErrors" 
    ng-class="{'alert-danger': $ctrl.msgErrors === 'danger', 'alert-warning': $ctrl.msgErrors.level === 'warning'}"
    role="alert"
  >{{ $ctrl.msgErrors.text }}</div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-if="!$ctrl.options.force" ng-click="$ctrl.cancel()">Cancel</button>
  <button class="btn btn-success" ng-click="$ctrl.save()">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-if="$ctrl.loading"></span>Save
  </button>
</div>