<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <filter on-filter-options-change="$ctrl.filterOptions = newFilterOptions"></filter>
    </div>
    <div class="col-sm-9">
      <record-list filter-options="$ctrl.filterOptions"></record-list>
    </div>
  </div>
</div>
<footer>
  <div class="container middle">
    <div class="col-sm-3 center">
      <a href="https://www.ouvrirlascience.fr/conditor/"><img class="logo" src="logo.png" alt="Logo Conditor"></a>
    </div>
    <div class="col-sm-9 center">
      <ul class="list-inline">
        <li><a href="mailto:conditordev@gmail.com"><i class="fa fa-envelope-o"></i>Contact</a></li>
        <li>made with<i class="fa fa-heart"></i>by<a href="https://github.com/orgs/conditor-project/people"><i class="fa fa-users"></i></a></li>
      </ul>
    </div>
  </div>
</footer>