<div class="record-header">
  <div class="row">
    <div class="col-sm-12 middle center">
      <pagination links="$ctrl.links" on-paginate="$ctrl.paginateRecords(action)" page-size="$ctrl.pageSize" current-page="$ctrl.currentPage"></pagination>
    </div>
  </div>
</div>
<div class="record-list">
  <div class="no-results" ng-if="!$ctrl.records.length">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Sorry, no results found.
  </div>
  <div ng-repeat="record in $ctrl.records" class="panel" ng-class="{'panel-primary': hover, 'panel-default': !hover}"
    ng-init="hover = false" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="$ctrl.openRecordModal(record)">
    <div class="panel-heading">
      <h3 class="panel-title">{{ record.title }}</h3>
    </div>
    <div class="panel-body">
      <div class="details">
        <span class="label label-default">{{ record.source }}</span>
        <span class="label label-default">{{ record.typeConditor }}</span>
        <span class="label label-default">{{ record.publicationDate }}</span>
      </div>
      <div class="abstract">{{ record.abstract | limitTo:320 }} ...</div>
      <div class="author">{{ record.author }}</div>
    </div>
    <div class="panel-footer">
      <div class="idConditor">id conditor: {{ record.idConditor }}</div>
      <div class="near-duplicates">
        near duplicate: {{ record.nearDuplicate.length }}
        (<span ng-repeat="nearDuplicate in record.nearDuplicate">
          <span ng-if="!$first">, </span>{{ nearDuplicate.idConditor }}
        </span>)
      </div>
    </div>
  </div>
</div>
<div class="record-footer">
  <div class="row">
    <div class="col-sm-12 middle center">
      <pagination links="$ctrl.links" on-paginate="$ctrl.paginateRecords(action)" page-size="$ctrl.pageSize" current-page="$ctrl.currentPage"></pagination>
    </div>
  </div>
</div>