<div class="record-header">
  <div class="row">
    <div class="col-sm-6 col-md-offset-3 middle center">
      <pagination links="$ctrl.links" on-paginate="$ctrl.paginateRecords(action)" page-size="$ctrl.pageSize"
        current-page="$ctrl.currentPage"></pagination>
    </div>
    <div class="col-sm-3 middle right">
      <sort on-options-change="$ctrl.sortRecords(newOptions)">></sort>
    </div>
  </div>
</div>
<div class="record-list">
  <!-- <a ui-sref="record({idConditor: 'nPQXqdvZwUPWlonm4_qeToWtt'})" ui-sref-active="active">Hello</a> -->
  <!-- <ui-view></ui-view> -->
  <div class="no-results" ng-if="!$ctrl.records.length">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Sorry, no results found.
  </div>
  <div class="panel" ng-class="{'panel-primary': hover, 'panel-default': !hover}" ng-repeat="record in $ctrl.records"
    ng-init="hover = false" ng-mouseenter="hover = true" ng-mouseleave="hover = false"
    ui-sref="record({idConditor: record.idConditor, data: record})"
  >
    <!-- ng-click="$ctrl.openRecordModal(record)" -->
    <div class="panel-heading">
      <h3 class="panel-title">{{ record.title.default }}</h3>
    </div>
    <div class="panel-body">
      <div class="details">
        <span class="label" ng-class="{ 'label-default': !hover, 'label-primary': hover }">{{ record.source }}</span>
        <span class="label"
          ng-class="{ 'label-default': !hover, 'label-primary': hover }">{{ record.typeConditor }}</span>
        <span class="label"
          ng-class="{ 'label-default': !hover, 'label-primary': hover }">{{ record.publicationDate }}</span>
      </div>
      <div class="abstract">{{ record.abstract | limitTo:320 }} ...</div>
      <div class="authors">{{ record.first3AuthorNames }}</div>
      <div class="idConditor pull-right">{{ record.idConditor }}</div>
    </div>
    <div class="panel-footer">
      <div class="near-duplicates">
        doublon incertain : {{ record.nearDuplicates.length }} <i class="fa fa-file-text-o"></i>
        <ul class="list-group">
          <li ng-repeat="nearDuplicate in record.nearDuplicates" class="list-group-item">
            {{ nearDuplicate.idConditor }}
            <span ng-if="nearDuplicate.similarityRate" class="badge">similaire à {{ nearDuplicate.similarityRate | percentage }}</span>
            <span ng-if="nearDuplicate.duplicateBySymmetry" class="badge">doublon par symétrie</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="record-footer">
  <div class="row">
    <div class="col-sm-12 middle center">
      <pagination links="$ctrl.links" on-paginate="$ctrl.paginateRecords(action)" page-size="$ctrl.pageSize"
        current-page="$ctrl.currentPage"></pagination>
    </div>
  </div>
</div>