.author {
  font-style: italic;
  font-size: 1.3rem;
  margin-top: 5px;
}

.details {
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.idConditor {
  font-size: 1.2rem;
}

.no-results {
  padding: 20px;
  text-align: center;
  font-size: 4rem;
}