@import url('https://fonts.googleapis.com/css?family=Lato:900');

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.modal-header, .modal-footer {
  background-color: #f5f5f5;
}

.center {
  display: flex;
  justify-content: center;
}

.middle {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.form-control {
  box-shadow: none;
}

.btn-default-focus {
  box-shadow: none;
}

.list-group-item-error {
  color: #721c24;
  background-color: #f5c6cb;
}