confirm-modal {
  .panel {
    margin: 0 30px 20px 30px;
  }
  
  .panel-title {
    font-size: 1.4rem;
  }

  .authors {
    font-size: 1.3rem;
    margin-top: 5px;
  }

  .idConditor {
    font-size: 1.2rem;
  }
}