<div class="modal-header">
 <h4>Confirmation de la validation</h4>
</div>
<div class="modal-body">
  <p>
    Vous allez valider le dédoublonnage des notices en cours de comparaison. Cette opération créera un lien signalant que les notices sont identiques.
  </p>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5 class="panel-title">{{ $ctrl.record.title }}</h5>
    </div>
    <div class="panel-body">
      <div class="details">
        <span class="label label-default">{{ $ctrl.record.source }}</span>
        <span class="label label-default">{{ $ctrl.record.typeConditor }}</span>
        <span class="label label-default">{{ $ctrl.record.publicationDate }}</span>
      </div>
      <div class="author">{{ $ctrl.record.author }}</div>
      <div class="idConditor pull-right">{{ $ctrl.record.idConditor }}</div>
    </div>
  </div>
  <div ng-repeat="nearDuplicateRecord in $ctrl.nearDuplicateRecords | filter:{ isDuplicateByUser: '' }" class="near-duplicate-record">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">{{ nearDuplicateRecord.title }}</h5>
      </div>
      <div class="panel-body">
        <div class="details">
          <span class="label label-default">{{ nearDuplicateRecord.source }}</span>
          <span class="label label-default">{{ nearDuplicateRecord.typeConditor }}</span>
          <span class="label label-default">{{ nearDuplicateRecord.publicationDate }}</span>
        </div>
        <div class="author">{{ nearDuplicateRecord.author }}</div>
        <span 
          class="label"
          ng-class="{'label-danger': nearDuplicateRecord.isDuplicateByUser, 'label-success': !nearDuplicateRecord.isDuplicateByUser}"
        >{{ nearDuplicateRecord.isDuplicateByUser === true ? 'duplicate' : nearDuplicateRecord.isDuplicateByUser === false ? 'not duplicate' : null }}</span>
        <div class="idConditor pull-right">{{ nearDuplicateRecord.idConditor }}</div>
      </div>
    </div>
  </div>
  <p>
    Vous pouvez annuler l'opération et revenir à l'écran précédent.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="$ctrl.no()">No</button>
  <button class="btn btn-success" ng-click="$ctrl.yes()">Yes</button>
</div>