<div class="modal-header">
 <h4>Confirmation de la validation</h4>
</div>
<div class="modal-body">
  <p>
    Vous allez valider le dédoublonnage des notices en cours de comparaison. Cette opération créera un lien signalant que les notices sont des doublons ou non.
  </p>
  <div ng-repeat="nearDuplicateRecord in $ctrl.nearDuplicateRecords | filter:{ isDuplicateByUser: '' }" class="near-duplicate-record">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">{{ nearDuplicateRecord.title.default }}</h5>
      </div>
      <div class="panel-body">
        <div class="details">
          <span class="label label-default">{{ nearDuplicateRecord.source }}</span>
          <span class="label label-default">{{ nearDuplicateRecord.typeConditor }}</span>
          <span class="label label-default">{{ nearDuplicateRecord.publicationDate }}</span>
        </div>
        <div class="author">{{ nearDuplicateRecord.author }}</div>
        <span 
          class="label"
          ng-class="{'label-danger': !nearDuplicateRecord.isDuplicateByUser, 'label-success': nearDuplicateRecord.isDuplicateByUser}"
        >{{ nearDuplicateRecord.isDuplicateByUser === true ? 'doublon' : nearDuplicateRecord.isDuplicateByUser === false ? 'non doublon' : null }}</span>
        <div class="idConditor pull-right">{{ nearDuplicateRecord.idConditor }}</div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="$ctrl.goBack()">Revenir en arrière</button>
  <button class="btn btn-success" ng-click="$ctrl.confirm()">Confirmer</button>
</div>