<div class="modal-header">
 <h4>Confirmation de la validation</h4>
</div>
<div class="modal-body">
  <p>
    Vous allez valider le dédoublonnage des notices en cours de comparaison. Cette opération créera un lien signalant que les notices sont identiques.
  </p>
  <p>
    Vous pouvez annuler l'opération et revenir à l'écran précédent.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="$ctrl.no()">No</button>
  <button class="btn btn-success" ng-click="$ctrl.yes()">Yes</button>
</div>